
h1{

    
    font-family: 'Gloock', serif;
    font-weight: 400;
    color: blue;
  }

h2{
    font-family: 'Gloock', serif;
    font-size: 16px;
    color:rgb(12, 143, 7);

}
h3{ 
    color:blueviolet;
    
}  
